<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>761181752614-2sl1euoj72rncnml5tcdp95gbbvdnm87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761181752614-2sl1euoj72rncnml5tcdp95gbbvdnm87</string>
	<key>API_KEY</key>
	<string>AIzaSyB1m9DYqjLKB6s_Peg0RIIdH6WFHq_7u28</string>
	<key>GCM_SENDER_ID</key>
	<string>761181752614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TTT.LCD-Clock</string>
	<key>PROJECT_ID</key>
	<string>streamoclock</string>
	<key>STORAGE_BUCKET</key>
	<string>streamoclock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761181752614:ios:77985d561f37587a</string>
	<key>DATABASE_URL</key>
	<string>https://streamoclock.firebaseio.com</string>
</dict>
</plist>